<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="tools/antipede/resources/stylesheets/module.xsl"?>
<?xml-stylesheet type="text/css" href="tools/antipede/resources/stylesheets/module.css"?>

<!-- 
	This file is loaded by ./tools/antipede/build.xtarget as ANT properties.   
	Property names will be prefixed with 'xgump.' (I'm not entirely sure why
	it's called 'gump').
-->

<module name="yajul">

  <url href="http://yajul.sourceforge.net/"/>
  
  <cvs repository="sourceforge" 
       host-prefix="cvs.sourceforge" 
       dir="krysalis" 
       module="krysalis-centipede"
       href="http://cvs.sourceforge.net/cgi-bin/viewcvs.cgi/yajul/yajul-centipede/"/>

  <bugtrack href="http://sourceforge.net/tracker/?group_id=36516&amp;atid=423515"/>
  
  <mailing-lists> 
    <mailing-list user="user" 
                  mail="yajul-users@lists.sf.net" 
                  subscribe="http://lists.sourceforge.net/lists/listinfo/Krysalis-general-user" 
                  unsubscribe="http://lists.sourceforge.net/lists/listinfo/Krysalis-general-user">
       <archives>
         <archive name="sourceforge" href="http://sourceforge.net/mailarchive/forum.php?forum_id=7972"/>
         <archive name="geocrawler" href="http://www.geocrawler.com/lists/3/SourceForge/18832/0/"/>
       </archives>
    </mailing-list>       
    <mailing-list user="developer" 
                  mail="krysalis-developers@lists.sf.net" 
                  subscribe="http://lists.sourceforge.net/lists/listinfo/krysalis-devel" 
                  unsubscribe="http://lists.sourceforge.net/lists/listinfo/krysalis-devel">
       <archives>
         <archive name="sourceforge" href="http://sourceforge.net/mailarchive/forum.php?forum_id=7604"/>
         <archive name="geocrawler" href="http://www.geocrawler.com/lists/3/SourceForge/18831/0/"/>
       </archives>                  
    </mailing-list>                         
  </mailing-lists>    
   
  <description>
     YAJUL is a set of Java utility libraries for Java enterprise application development.
  </description>

  <detailed>
     YAJUL is a set of Java utility libraries for Java enterprise application development.
     The libraries are organize by the type of useage, allowing a lightweight implementation.
     The core library is required by all other libraries, and includes Log4J logging, IO utilities,
     XML DOM / SAX / XSLT utilities, and some multi-threading code.
     Other libraries include: Servlet, EDI, and development tools. 
  </detailed>

  <what>
    <goal>Provide well documented libraries.  The libraries can be used without resorting to looking at the source code.</goal>
    <goal>Unit test all the production code.  Programmers can trust the libraries.</goal>
    <goal>Minimal dependencies.  The user should be able to include a minimal set of libraries.</goal>
  </what>
    
  <why>
    Every Java application, particularly web based business applications have some common
    code that is developed over and over again.  YAJUL provides a shareable repository for
    reliable (tested) and well documented reuseable code.
  </why>
  
  <vendor>The YAJUL developers</vendor>

  <licence>This software is released under the MIT software licence. 
           For detailed legal and licensing issues, please read the LICENSE.* files
           in the /legal directory.
  </licence>
  
  <credits>
    <credit>This software includes software developed by the Apache Software Foundation 
            (http://www.apache.org/).
    </credit>
    <credit>This software is built using Krysalis Centipede
    </credit>    
  </credits>

  <!-- Create a project for each YAJUL library? -->
  
  <project name="yajul-core">
  
     <version major="0"
              minor="0"   
              fix  ="0"   
              tag="devel1"/> 
             
    <package>org.yajul</package>

    <ant target="gump" vm="1.2"/>
    
    <!-- script name="build"/> -->
<!--    
    <depend project="jakarta-ant"/>
    <depend project="ant-contrib"/>
    <depend project="xml-xerces"/>
    <depend project="xml-xalan2"/>
    <depend project="jjar"/>
    <depend project="jtidy"/>
    <depend project="IzPress"/>
--> 
    <!-- Work dirs to be included in classpath  -->          
    <work nested="tools/tmp"/>
    <work nested="build/classes"/>
    <work nested="build/testcases"/>

    <home nested="build"/>
         
    <nag to="yajul-dev@yajul.sourceforge.net"
         from="Josh Davis &lt;pgmjsd@yahoo.com&gt;"/>
  </project>

</module>




