vti_encoding:SR|utf8-nl
https\://sourceforge.net/projects/yajul/:index.html
http\://cvs.sourceforge.net/cgi-bin/viewcvs.cgi/yajul/:cvs/base/index.html index.html
http\://cvs.sourceforge.net/sourceforge_whitebg.gif:cvs/base/index.html
http\://sourceforge.net:index.html
http\://sourceforge.net/sflogo.php:index.html
